---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="projects">
    <Topic title="Blog" description="Erfahre was uns voran treibt." />
</div>

<div class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0">
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">Der Fachkräftemangel in der deutschen Wasserwirtschaft gefährdet sowohl die kurz- als auch langfristige Funktionsfähigkeit der Branche. Ohne ausreichend qualifiziertes Personal drohen Verzögerungen bei wichtigen Projekten, eine Verschlechterung der Wasserqualität und steigende Kosten für Verbraucher. Gleichzeitig wird die Modernisierung der alternden Infrastruktur erschwert, was die Nachhaltigkeit und Innovationskraft der Branche hemmt. Um diesen Herausforderungen zu begegnen, sind gezielte Investitionen in Bildung, Umschulung und die Attraktivität der Branche unerlässlich, um die Zukunft der Wasserversorgung zu sichern.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Lerne mehr</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">Die Arbeitswelt befindet sich in einem tiefgreifenden Wandel, der vor allem durch die digitale Transformation vorangetrieben wird. Technologien wie künstliche Intelligenz (KI), Automatisierung und das Internet der Dinge (IoT) haben bereits Einzug in zahlreiche Branchen gehalten und verändern die Art und Weise, wie wir arbeiten, grundlegend. Doch was bedeutet das für die Zukunft der Arbeit? Welche Chancen und Herausforderungen bringt die digitale Transformation mit sich?</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Lerne mehr</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">In den letzten Jahren steht das deutsche Personalwesen vor zunehmend komplexeren Herausforderungen. Der Fachkräftemangel zieht sich durch nahezu alle Branchen und macht es Unternehmen schwer, geeignete Talente zu finden, um die Lücken in ihren Teams zu schließen. Gerade in einer Zeit, in der technologische Entwicklungen rasant voranschreiten und der Bedarf an spezialisierten Fachkräften steigt, wird es immer schwieriger, die richtigen Mitarbeiter zu gewinnen und langfristig zu halten.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Lerne mehr</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
    </div>
    
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    
</div>

</Container>