---
import Container from "./Container.astro"
---
<footer class="bg-lime bg-fixed bg-bottom text-black">
    <Container>
    <div class="py-6">
        <div class="flex flex-col items-center justify-between md:flex-row">
            <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <img class="h-21" src="/Logo3.svg" alt="Logo">
            </div>
            <div class="flex mt-4 md:m-0">
                <div class="-mx-4">
                    @ <span id="currentYear"></span> Ångestellt | Made with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer" class="underline">Passion</a>
                </div>
            </div>
        </div>
        <!-- Add the Impressum link here -->
        <div class="text-center mt-4">
            <a href="/impressum" class="underline text-black hover:text-gray-700">Impressum</a>
        </div>
    </div>
    </Container>
</footer>

<script is:inline>
    const year = new Date().getFullYear();
    document.getElementById("currentYear").innerHTML = `${year}`;
</script>
